<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!--
    INSTRUCTIONS:
    1. Go to Firebase Console (https://console.firebase.google.com)
    2. Create a new project or select existing project
    3. Add an iOS app to your Firebase project
    4. Register your app with bundle identifier: com.dayshare.DayShare
    5. Download the GoogleService-Info.plist file
    6. Replace this template file with your downloaded file
    7. Rename it to GoogleService-Info.plist (remove -TEMPLATE)

    IMPORTANT FOR PIPA COMPLIANCE:
    - When creating Firebase project, select "Seoul (asia-northeast3)" region
    - Enable Firestore Database in Seoul region
    - Configure security rules to restrict access by group membership
    -->

    <key>CLIENT_ID</key>
    <string>YOUR_CLIENT_ID</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>YOUR_REVERSED_CLIENT_ID</string>
    <key>API_KEY</key>
    <string>YOUR_API_KEY</string>
    <key>GCM_SENDER_ID</key>
    <string>YOUR_GCM_SENDER_ID</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.dayshare.DayShare</string>
    <key>PROJECT_ID</key>
    <string>YOUR_PROJECT_ID</string>
    <key>STORAGE_BUCKET</key>
    <string>YOUR_STORAGE_BUCKET</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>YOUR_GOOGLE_APP_ID</string>
</dict>
</plist>
